@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Poppins', sans-serif;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}


.section h1 {
	font-weight: 300 !important;
	font-size: 3.9vw !important;
	letter-spacing: -0.5px !important;
	color: #000;
	width: 880px;
	max-width: 80%;
	line-height: 5.0vw;
	margin: auto;
}

.section h2 {
	font-weight: 300 !important;
	font-size: 3.0vw !important;
	letter-spacing: -0.5px !important;
	color: #000;
	max-width: 80%;
	line-height: 5.0vw;
	margin: auto;
}

#section0 .logo {
	position: absolute;
	top: 40px;
	left: 40px;
	zoom: 100%;
	width: 60px;
}

#section1 h1 {
	color: #fff;
	margin-top: 50px;
}

#section1 h2 {
	color: #fff;
	opacity: 0.65;
	margin-bottom: 30px;
}

.section img {
	max-width: 100%;
	margin-bottom: -7px;
}

#section3 h1 {
	color: #fff;
	margin-top: 50px;
}

#section3 h2 {
	color: #fff;
	opacity: 0.65;
	margin-bottom: 30px;
}

#section3 img {
	width: 80%;
	max-width: 700px;
}

#section4 h1 {
	color: #000;
	margin-top: 50px;
}

#section4 h2 {
	color: #000;
	opacity: 0.5;
	margin-bottom: 30px;
}

#section5 h2 {
	opacity: 0.5;
}

.text-container {
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 9999;
}

.image-container {
	height: 100%;
	position: relative;
	text-align: center;
}
.center-container {
	position: absolute;
	bottom: 0px;
	margin: auto;
	text-align: center;
	width: 100%;
}
.right-container {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: auto;
	text-align: right;
	width: 100%;
}
.image-container img {
	width: 600px;
	max-width: 80%;
}
.image-container .right-container img {
	width: 60%;
	max-width: 750px;
}

#section4 .center-container img {
	max-width: 500px;
	margin-left: 140px;
}

footer {
	position: absolute;
	bottom: 0px;
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	margin-bottom: 50px;
	text-align: left;
	color: #000;
	font-size: 14px;
}

.footer-title {
	color: #000;
	margin-bottom: 15px;
}

.col-md-3 {
	width: 20%;
	float: left;
	padding-right: 5%;
}

@media (max-width: 1024px) {
	.footer-title-container {
		display: none;
	}
	.col-md-3 {
		width: 100%;
		float: left;
		margin-bottom: 40px;
	}
}

.footer-mobile-text {
	display: none;
	margin-bottom: 40px;
}
.subtitle {
	opacity: 0.5;
}

footer ul li {
	opacity: 0.5;
}
footer ul li a {
	text-decoration: none !important;
}
footer ul li a.underline {
	text-decoration: underline !important;
}
footer ul li:hover {
	opacity: 1 !important;
}

.footer-title-container {
	margin-top: -150px;
}

.logo-footer {
	position: absolute;
	top: -100px;
	zoom: 50%;
	margin-bottom: 40px;
}

#first-footer {

}

.desktop {
	display: block;
	height: 100%;
}
.mobile {
	display: none;
}

.section a {
	color: inherit;
	text-decoration: underline;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.image-container {
		height: 100%;
		position: relative;
		text-align: center;
	}
	.center-container {
		position: absolute;
		bottom: 0px;
		margin: auto;
		text-align: center;
		width: 100%;
	}
	.mobile img {
		width: 600px;
		max-width: 80%;
	}
	.footer-mobile-text {
		display: block;
	}
}
