/* Global defaults */
body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.section{
  text-align:center;
}
.desktop-image {
  display: none;
}
/* --- */

/* Sections default text styles */
.section h1 {
  color: #000;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 28px;
  margin: auto;
  max-width: 80%;
}
.section h2 {
  color: #000;
  font-size: 3.2vw;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 5.0vw;
  margin: auto;
  max-width: 80%;
}
.section img {
  max-width: 80%;
  margin-bottom: -7px; /* Account for bottom difference */
}
.section a {
  color: inherit;
  text-decoration: underline;
}
/* --- */

/* Top left iterar logo */
.iterar-logo {
  position: absolute;
  top: 40px;
  left: 40px;
  zoom: 100%;
  width: 60px;
}

/* Section specific code */
#knok h1 {
  color: #fff;
  margin-top: 50px;
}
#knok h2 {
  color: #fff;
  opacity: 0.65;
  margin-bottom: 30px;
}

#vrcare h1 {
  color: #fff;
  margin-top: 50px;
}
#vrcare h2 {
  color: #fff;
  opacity: 0.65;
  margin-bottom: 30px;
}
#vrcare img {
  width: 80%;
  max-width: 700px;
}

#thescientist h1 {
  color: #000;
  margin-top: 50px;
}
#thescientist h2 {
  color: #000;
  opacity: 0.5;
  margin-bottom: 30px;
}
/* End of section specific code */

/* Footer */
footer {
  bottom: 0px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-left:  10%;
  padding-right: 10%;
  position: absolute;
  text-align: left;
  width: 80%;
}

.footer-title {
  margin-bottom: 5px;
}

.footer-mobile-text {
  margin-bottom: 40px;
}
.subtitle {
  opacity: 0.5;
}

footer ul li span.faded {
  opacity: 0.5;
}
footer ul li a {
  opacity: 0.5;
}
footer ul li a {
  text-decoration: none !important;
}
footer ul li a.underline {
  text-decoration: underline !important;
}
footer ul li a:hover {
  opacity: 1 !important;
}

.footer-title-container {
  display: none;
  margin-top: -150px;
}
.footer-title-container h2 {
  opacity: 0.5;
}

.col-md-3 {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  font-size: 10px;
}

.logo-footer {
  position: absolute;
  top: -100px;
  zoom: 50%;
  margin-bottom: 40px;
}
  .logo-footer img {
    max-width: 100%;
  }
#about-us {
  display: none;
}
#first-footer {
  margin-bottom: 10px;
}
/* --- */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .section h1 {
    font-size: 25px;
    line-height: 30px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .section h1 {
    font-size: 26px;
    line-height: 32px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .section h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .col-md-3 {
    font-size: 14px;
    width: 20%;
    float: left;
    padding-right: 5%;
  }
  .footer-title-container {
    display: block;
  }
  .footer-mobile-text {
    display: none;
  }
  #about-us {
    display: block;
  }
  #first-footer {
    margin-bottom: 0px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .section h1 {
    font-size: 46px;
    line-height: 52px;
    max-width: 75%;
  }
  .section--wrapper {
    height: 100%;
  }
  .link--container {
    height: 100%;
    text-align: center;
  }
  .image--wrapper {
    bottom: 0px;
    margin: auto;
    position: absolute;
    width: 100%;
  }
  .image--wrapper img {
    width: 80vh;
    max-width: 80%;
  }
  .image--wrapper .right--container img {
    width: 60%;
    max-width: 750px;
  }
  .text--container {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 9999;
  }
  footer {
    margin-bottom: 10px;
  }
  .footer-title {
    margin-bottom: 5px;
  }

  .mobile-image {
    display: none;
  }
  .desktop-image {
    display: inline;
  }
}

@media only screen and (min-width : 1200px) {
  .section h1 {
    font-size: 4.0vw;
    line-height: 4.8vw;
  }
}