<div id="fullpage">

  <!-- Goal statement -->
  <div class="section active" id="mission">
    <div class="iterar-logo"><img src="./images/logo.png"></div>
    <h1>
      We create digital products with a singular goal in mind:<br>
      To move healthcare forward, today.
    </h1>
  </div>
  <!-- End of goal statement -->

  <!-- First product: knok healthcare -->
  <div class="section" id="knok">

    <div class="section--wrapper">
      <div class="text--container">
        <h1>Knok</h1>
        <h2>
          Find a doctor on call near you.
          <a href="https://itunes.apple.com/pt/app/knok-medicos-ao-domicilio/id1060604041?l=en&mt=8" target="_blank">
            Get the app.
          </a>
        </h2>
      </div>
      <div class="link--container">
        <a href="https://itunes.apple.com/pt/app/knok-medicos-ao-domicilio/id1060604041?l=en&mt=8" target="_blank">
          <div class="image--wrapper">
            <img class="mobile-image"  src="./images/knok-mobile.png">
            <img class="desktop-image" src="./images/knok.png">
          </div>
        </a>
      </div>
    </div>

  </div>
  <!-- End of first product: knok -->

  <!-- Our mission -->
  <div class="section" id="vision">
    <h1>
      Our mission is to build carefully crafted experiences
      that improve people's lives through technology.
    </h1>
  </div>
  <!-- End of mission statement -->

  <!-- Second product :VRCare -->
  <div class="section" id="vrcare">
    <h1>VRCare</h1>
    <h2>No more fear of flying. Be the <a href="http://vrcare.io" target="_blank">first to test</a>.</h2>
    <div>
      <a href="http://vrcare.io" target="_blank">
        <img src="./images/vrcare.png">
      </a>
    </div>
  </div>
  <!-- End of second product :VRCare -->

  <!-- Start of third product: The Scientist -->
  <div class="section" id="thescientist">

    <div class="section--wrapper">
      <div class="text--container">
        <h1>The Scientist</h1>
        <h2>
          All the scientific papers in one place.
          <a href="https://itunes.apple.com/us/app/the-scientist/id657192313?mt=8" target="_blank">
            Get the app.
          </a>
        </h2>
      </div>
      <div class="link--container">
        <a href="https://itunes.apple.com/us/app/the-scientist/id657192313?mt=8" target="_blank">
          <div class="image--wrapper">
            <img class="mobile-image" src="./images/the-scientist-mobile.png">
            <img class="desktop-image" src="./images/the-scientist.png">
          </div>
        </a>
      </div>
    </div>

  </div>

  <!-- Last section: footer -->
  <div class="section" id="section5">
    <div class="footer-title-container">
      <h1>iterar</h1>
      <h2>A healthcare software studio.</h2>
    </div>
    <footer>
      <div class="footer-column">
        <div class="logo-footer"><img src="./images/logo.png"></div>
        <div class="footer-mobile-text">
          <div>iterar</div>
          <div class="subtitle">A healthcare software studio.</div>
        </div>
        <div id="about-us">
          <div class="footer-title">More about us</div>
          <ul>
            <li>
              <a href="https://www.facebook.com/iterar" target="_blank">
                Facebook
              </a>
            </li>
            <li>
              <a href="https://twitter.com/_iterar" target="_blank">
                Twitter
              </a>
            </li>
            <li>
              <a href="https://github.com/iterar" target="_blank">
                Github
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-column">
        <div class="footer-title">Recent publications</div>
        <ul>
          <li>
            <a href="https://medium.com/iterar/change-362aae76764c#.mqjtyrqqg" target="_blank">
              <i>Change</i>, Oct 2016
            </a>
          </li>
          <li>
            <a href="https://medium.com/iterar/retreats-and-new-beginnings-b06344b85d2#.4s3vr99t8" target="_blank">
              <i>Retreats & New Beginnings</i>, Oct 2016
            </a>
          </li>
          <li>
            <a href="https://medium.com/iterar/digital-health-group-on-slack-5d9bf666b1b2#.6x0ynleuo" target="_blank">
              <i>Digital Health</i>, Jan 2016
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="footer-title">Contact us</div>
        <ul>
          <li>
            <span class="faded">Business:</span>
            <a href="mailto:craveiro@iterar.co">
              craveiro@iterar.co
            </a>
          </li>
          <li>
            <span class="faded">Ventures:</span>
            <a href="mailto:tiago@iterar.co">
              tiago@iterar.co
            </a>
          </li>
          <li>
            <span class="faded">Say hi:</span>
            <a href="mailto:hello@iterar.co">
              hello@iterar.co
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="footer-title">Find us</div>
        <ul>
          <li>
            <a href="https://www.google.es/maps/place/Iterar/@41.1490822,-8.6185981,17z/data=!3m1!4b1!4m5!3m4!1s0xd246502abf87c15:0x8f8326e44f3a0b53!8m2!3d41.1490782!4d-8.6164094" target="_blank">
              Rua de Cedofeita, nº11 <br>
              4050-117, Porto, Portugal. <br>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
  <!-- End of footer -->

</div>
